@import "tailwindcss";

:root {
  /* Warm Dark & Soft Colors */
  --background: #1c1917;
  --surface: #292524;
  --border: #44403c;
  --text-primary: #e7e5e4;
  --text-secondary: #a8a29e;
  --accent: #d6d3d1;
  
  --accent-analyze: #86efac;
  --accent-stock: #fdba74;
  --accent-write: #93c5fd;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-analyze: var(--accent-analyze);
  --color-accent-stock: var(--accent-stock);
  --color-accent-write: var(--accent-write);
  --font-sans: var(--font-klee), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-klee), sans-serif;
}
